aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.3.2
alembic==1.15.2
attrs==25.3.0
azure-functions==1.23.0
azure-functions-durable==1.2.10
bingefriend-shows-application==0.1.14
bingefriend-shows-client_tvmaze==0.1.3
bingefriend-shows-core==0.2.7
-e git+ssh://git@github.com/bingefriend/bingefriend-shows-infra_azure.git@e650c031795f83c7f764da880e9b4f407711a168#egg=bingefriend_shows_infra_azure
certifi==2025.4.26
charset-normalizer==3.4.2
frozenlist==1.6.0
furl==2.1.4
idna==3.10
iniconfig==2.1.0
Mako==1.3.10
MarkupSafe==3.0.2
multidict==6.4.3
orderedmultidict==1.0.1
packaging==25.0
pluggy==1.5.0
propcache==0.3.1
PyMySQL==1.1.1
pytest==8.3.5
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
requests==2.32.3
six==1.17.0
SQLAlchemy==2.0.40
typing_extensions==4.13.2
urllib3==2.4.0
Werkzeug==3.1.3
yarl==1.20.0
